@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  --normal-text: hsl(232, 10%, 55%);
  --bigger-texts: hsl(212, 27%, 19%);
  --special-texts: "Fraunces", sans-serif;
  --normal-texts: "Barlow", sans-serif;
}
body,
html {
  width: 100%;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
/*****************HEADER SECTION STYLING*************/
.header {
  height: 32rem;
  background-image: url(./sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nav {
  position: relative;
}
.nav--mobile {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
}
.nav--mobile button {
  background: none;
  border: none;
}
/* BURGER MENU */
.nav--mobile-menu {
  position: absolute;
  border: none;
  width: 87%;
  left: 0;
  transform-origin: center;
  transform: translateX(7%);
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding-bottom: 1.5rem;
}

/* .nav--mobile-menu ul {
  
} */
.nav--mobile-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav--mobile-link {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin: 0.6rem auto;
  list-style: none;
  height: 3.5rem;
  width: 10rem;
  color: var(--normal-text);
  font-size: 18px;
  padding: 1.8rem;
}

.nav--mobile-link:hover {
  color: var(--bigger-texts);
  text-transform: uppercase;
  font-family: var(--special-texts);
  /* transform: scale(0.9); */
  border: 1px solid yellow;
  background-color: yellow;
  font-size: 0.9rem;
  border-radius: 2.5rem;
}

.triangle {
  position: absolute;
  right: 0;
  transform: translate(1%, -40%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 30px 25px 0;
  border-color: transparent #fcffff transparent transparent;
  line-height: 0px;
  _border-color: #000000 #fcffff #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.nav.hidden .nav--mobile-menu {
  display: none;
  transition: 0.5s ease-in;
}
.nav .nav--mobile-burger {
  opacity: 0.5;
}
.nav.hidden .nav--mobile-burger {
  opacity: 1;
}
/*********************END OF HEADER SECTION***************************/
.content img {
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 4.5rem 0;
}

.text .text--header {
  font-family: var(--special-texts);
  font-weight: 900;
  text-align: center;
}
.text .text--main {
  text-align: center;
  font-family: var(--normal-texts);
  color: var(--normal-text);
  font-size: 18px;
  line-height: 1.8;
  line-break: none;
  margin-top: 1.5rem;
}

.text .text--link {
  font-family: var(--special-texts);
  color: var(--special-texts);
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.05rem;
  margin: 3rem 0 0 0;
  position: relative;
}
.text #text--underline-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  border-radius: 1rem;
  transform: translate(-5%, 140%);

  height: 0.6rem;
  z-index: -1;

  width: 110%;
  background-color: yellow;
  opacity: 0.4;
}
.text #text--underline-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  border-radius: 1rem;
  transform: translate(-5%, 140%);
  height: 0.6rem;
  z-index: -1;

  width: 110%;
  background-color: pink;
  opacity: 0.4;
}
@media (min-width: 768px) {
  .header {
    height: 40rem;
    background-image: url(./sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-size: 100% auto cover;
    background-repeat: no-repeat;
  }
}
